<div class='card'>
    <div class='card-header'
         style='text-align: left; height: 40px;'>
        {{productDetailPageTitle + ": " + product?.productName}}
    </div>
    <div class="card-body"
         *ngIf="product">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3"> Tên Sản Phẩm: </div>
                    <div class="col-md-6">{{product.productName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"> Mã Sản Phẩm: </div>
                    <div class="col-md-6">{{product.productCode}}</div>
                </div>
                <div class="row">
                  <div class="col-md-3"> Loại Sản Phẩm: </div>
                  <div class="col-md-6">{{product.productType}}</div>
              </div>
                <div class="row">
                    <div class="col-md-3"> Mô Tả: </div>
                    <div class="col-md-6">{{product.description}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"> Ngày Sản Xuất: </div>
                    <div class="col-md-6">{{product.releaseDate | date:"dd-MM-YYYY"}}</div>
                </div>
                <div class="row">
                  <div class="col-md-3"> Số Lượng: </div>
                  <div class="col-md-6">{{product.quantity}}</div>
              </div>
                <div class="row">
                    <div class="col-md-3"> Đơn Giá: </div>
                    <div class="col-md-6">{{product.price | currency:'USD':'symbol':'1.2-2'}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3"> Đánh giá: </div>
                    <div class="col-md-6">
                        <pm-star [rating]='product.starRating'
                                 (ratingClicked)='onRatingClicked($event)'></pm-star>
                    </div>
                </div>
                <div class="row" style="font-size: larger; color: darkred;">
                    <div class="col-md-12"> {{messageRatingClicked}} </div>
                </div>
                <!-- <div class="row">
                   <div class="col-md-12"><img src='./assets/images/tailam.png'></div>
                </div> -->
            </div>
            <div class="col-md-3">
                <img src={{product.imageUrl}}
                     title={{product.productName}}
                     [style.width.px]='300'
                     [style.margin.px]='2'>
            </div>
        </div>
        <div *ngIf='errorMessage'
             class='alert alert-danger'>
            Error: {{ errorMessage }}
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-secondary"
                style="width: 80px;"
                (click)="onBack()">
            <i class="fa fa-chevron-left"></i> Back
        </button>
    </div>
