<div class="card" style="width: 100%;">
  <div class="card-header">
    {{pageTitle}}
  </div>  
  <div class="card-body" style="width: 100%;">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/shopping.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Tai Lam </h3>
      </div>

      <div class="text-center">tailam@gmail.com</div>
      <div class="text-center">
        <a href="https://github.com/tailam167">www.github.com/tailam167</a>
      </div>
    </div>
  </div>
</div>
