thead{
    color: #377ab7;
}

h5{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.btn ::-ms-tooltip{
  size: 50px;
}

::ng-deep .card{
  height: auto !important;
  overflow-y: auto !important;
}
