<div class='card'>
  <div class='card-header'
       style='text-align: center; color: black; height: 40px; font-weight: bold;'>
    {{productPageTitle}}
  </div>
  <div class='card-bdy'
       id="main-container">
    <div style="text-align:left; display: flex;">
      <div style="margin-right: 10px;">
        <h5>{{filterByTxt + ':'}}</h5>
      </div>
      <div class='col-sm-1'>
        <input type='text'
               [(ngModel)]='listFilter'/>
      </div>
    </div>
    <div class='table-responsive'
         style="text-align:center">
      <table class='table'
             *ngIf='products.length'>
        <thead>
          <tr style="color: black;">
            <th>Image</th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td>
              <img src={{product.imageUrl}}
                   title={{product.productName}}
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'>
            </td>
            <td>
              <a [routerLink]="[ '/products', product.productId ]">{{product.productName}}</a>
            </td>
            <td>{{product.productCode}}</td>
            <td>{{product.releaseDate | date:"dd-MM-YYYY"}}</td>
            <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
            <td>
              <pm-star [rating]='product.starRating'></pm-star>
            </td>
            <td>
              <div class="float-right button-group btn-group-sm">
                <a (click)="onOpenModal(product, 'edit')"
                   class="btn btn-primary tooltips"
                   data-placement="top"
                   data-original-title="Edit"
                   [routerLink]="['/product/update', product.productId]"
                   routerLinkActive="router-link-active"><i class="fa fa-pencil"></i>
                </a>
                |
                <a (click)="onOpenModal(product, 'delete')"
                   class="btn btn-secondary tooltips"
                   data-placement="top"
                   data-original-title="Delete"
                   [routerLink]="['/product/delete', product.productId]"
                   routerLinkActive="router-link-active"><i class="fa fa-times"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
