<div class="modal-dialog"
     role="document"
     id="updateProductModal">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"
          id="deleteModelLabel">Xóa Sản Phẩm</h5>
    </div>
    <div class="modal-body">
      <p>Bạn có muốn xóa sản phẩm {{deleteProduct?.productName}}?</p>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                (click)="cancel()"
                data-dismiss="modal">Không</button>
        <button (click)="onDeleteProduct(deleteProduct?.productId)"
                class="btn btn-danger"
                data-dismiss="modal">Có</button>
      </div>
    </div>
  </div>
</div>
