<div style="background-color: rgba(95, 189, 95, 0.774)">
  <div style="text-align: center;">
    <div class="col-md-12" style="text-align: center;">
      <h1>{{pageTitle}}</h1>
    </div>
    <!-- <div class="col-md-4"
         style="text-align: right; margin-top: 0cm;">
      <img src={{imageUrl}}
           height="150px"
           width="170px">
    </div> -->
  </div>
  <div style="background-color: rgba(95, 189, 95, 0.774);">
    <nav class="navbar navbar-expand navbar-light bg-light" style="justify-content: center;">
      <ul class="nav nav-pills" style="align-content: center;">
        <li><a class="nav-link"
             [routerLink]="['/welcome']">Trang chủ</a></li>
        <li><a class="nav-link"
             [routerLink]="['/products/list']">Danh sách sản phẩm</a></li>
        <li><a class="nav-link"
             [routerLink]="['/products/new']">Tạo mới sản phẩm</a></li>
      </ul>
    </nav>
    <div style="margin: 10px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
