<div class="modal-dialog"
     role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"
          id="updateProductModalLabel">Update Product: {{editProduct?.productName}}</h5>
    </div>
    <div class="modal-body">
      <form #updateForm="ngForm"
            novalidate>
        <!-- Product ID -->
        <div class="form-group">
          <label hidden
                 for="productId">Product ID</label>
          <input type="hidden"
                 ngModel="{{editProduct?.productId}}"
                 name="productId"
                 class="form-control"
                 id="productId"
                 readonly
                 placeholder="Product ID...">
        </div>
        <!-- Product Name -->
        <div class="form-group"
             [ngClass]="{'error': updateForm.controls.productName?.invalid && updateForm.controls.productName?.touched}">
          <label for="productName">Tên Sản Phẩm</label>
          <em
              *ngIf="updateForm.controls.productName?.invalid && (updateForm.controls.productName?.touched)">*Required</em>
          <input type="text"
                 required
                 ngModel="{{editProduct?.productName}}"
                 name="productName"
                 class="form-control"
                 id="productName"
                 placeholder="New Product Name...">
        </div>
        <!-- Product Code -->
        <div class="form-group"
             [ngClass]="{'error': updateForm.controls.productCode?.invalid && updateForm.controls.productCode?.touched}">
          <label for="productCode">Mã Sản Phẩm</label>
          <em
              *ngIf="updateForm.controls.productCode?.invalid && (updateForm.controls.productCode?.touched)">*Required</em>
          <input type="productCode"
                 required
                 ngModel="{{editProduct?.productCode}}"
                 name="productCode"
                 class="form-control"
                 id="productCode"
                 placeholder="New Product Code...">
        </div>
        <!-- Product Type -->
        <div class="form-group"
             [ngClass]="{'error': updateForm.controls.productType?.invalid && updateForm.controls.productType?.touched}">
          <label for="productType">Loại Sản Phẩm</label>
          <em *ngIf="updateForm.controls.productType?.invalid && (updateForm.controls.productType?.touched)">*Required</em>
              <ul *ngIf="updateForm.controls.productName?.value === 'Dung dịch tạo màng - Chitosan (5%)'">
                <input name="productType"
                       required
                       id="productType"
                       type="radio"
                       ngModel="{{editProduct?.productType}}"
                       value="1L" /> 1L
                <input name="productType"
                       required
                       id="productType"
                       type="radio"
                       ngModel="{{editProduct?.productType}}"
                       value="5L" /> 5L
                <input name="productType"
                       required
                       id="productType"
                       type="radio"
                       ngModel="{{editProduct?.productType}}"
                       value="10L" /> 10L
              </ul>
              <ul *ngIf="updateForm.controls.productName?.value === 'Hộp bã mía phân hủy sinh học Green Choice'">
                <input name="productType"
                       required
                       id="productType"
                       type="radio"
                       ngModel="{{editProduct?.productType}}"
                       value="450ML" /> 450ML
                <input name="productType"
                       required
                       id="productType"
                       type="radio"
                       ngModel="{{editProduct?.productType}}"
                       value="600ML" /> 600ML
                <input name="productType"
                       required
                       id="productType"
                       type="radio"
                       ngModel="{{editProduct?.productType}}"
                       value="720ML" /> 720ML
              </ul>
        </div>
        <!-- Release Date -->
        <div class="form-group"
             [ngClass]="{'error': updateForm.controls.releaseDate?.invalid && updateForm.controls.releaseDate?.touched}">
          <label for="releaseDate">Ngày Sản Xuất</label>
          <em
              *ngIf="updateForm.controls.releaseDate?.invalid && (updateForm.controls.releaseDate?.touched)">*Required</em>
          <input type="date"
                 required
                 name="releaseDate"
                 class="form-control"
                 ngModel="{{editProduct?.releaseDate}}"
                 id="releaseDate">
        </div>
        <!-- Description -->
        <div class="form-group"
             [ngClass]="{'error': updateForm.controls.description?.invalid && updateForm.controls.description?.touched}">
          <label for="description">Mô Tả</label>
          <em
              *ngIf="updateForm.controls.description?.invalid && (updateForm.controls.description?.touched)">*Required</em>
          <textarea type="text"
                 required
                 ngModel="{{editProduct?.description}}"
                 name="description"
                 class="form-control"
                 id="description"
                 name="description"
                 placeholder="New Product Description..."></textarea>
        </div>
         <!-- Quantity -->
         <div class="form-group"
         [ngClass]="{'error': updateForm.controls.quantity?.invalid && updateForm.controls.quantity?.touched}">
      <label for="quantity">Số Lượng</label>
      <em *ngIf="updateForm.controls.quantity?.invalid && (updateForm.controls.quantity?.touched)">*Required</em>
      <input type="number"
             required
             ngModel="{{editProduct?.quantity}}"
             name="quantity"
             class="form-control"
             id="quantity"
             placeholder="New Product Quantity...">
    </div>
        <!-- Price -->
        <div class="form-group"
             [ngClass]="{'error': updateForm.controls.price?.invalid && updateForm.controls.price?.touched}">
          <label for="price">Đơn Giá</label>
          <em *ngIf="updateForm.controls.price?.invalid && (updateForm.controls.price?.touched)">*Required</em>
          <input type="number"
                 required
                 ngModel="{{editProduct?.price}}"
                 name="price"
                 class="form-control"
                 id="price"
                 placeholder="New Product Price...">
        </div>
        <!-- Star Rating -->
        <div class="form-group"
             [ngClass]="{'error': updateForm.controls.starRating?.invalid && updateForm.controls.starRating?.touched}">
          <label for="starRating">Đánh Giá</label>
          <em
              *ngIf="updateForm.controls.starRating?.invalid && (updateForm.controls.starRating?.touched)">*Required</em>
          <input type="number"
                 required
                 ngModel="{{editProduct?.starRating}}"
                 name="starRating"
                 class="form-control"
                 id="starRating"
                 placeholder="New Product Rating...">
        </div>
        <!-- Image URL -->
        <div class="form-group"
             [ngClass]="{'error': updateForm.controls.imageUrl?.invalid && updateForm.controls.imageUrl?.touched}">
          <label for="imageUrl">Hình Ảnh</label>
          <em *ngIf="updateForm.controls.imageUrl?.invalid && (updateForm.controls.imageUrl?.touched)">*Required</em>
          <ul *ngIf="updateForm.controls.productName?.value === 'Dung dịch tạo màng - Chitosan (5%)'">
            <input name="imageUrl"
                   required
                   id="imageUrl"
                   type="radio"
                   ngModel="{{editProduct?.imageUrl}}"
                   value="assets/images/1L.png"/> 1L
            <input name="imageUrl"
                   required
                   id="imageUrl"
                   type="radio"
                   ngModel="{{editProduct?.imageUrl}}"
                   value="assets/images/5L.png"/> 5L
            <input name="imageUrl"
                   required
                   id="imageUrl"
                   type="radio"
                   ngModel="{{editProduct?.imageUrl}}"
                   value="assets/images/10L.png"/> 10L
          </ul>
          <ul *ngIf="updateForm.controls.productName?.value === 'Hộp bã mía phân hủy sinh học Green Choice'">
            <input name="imageUrl"
                   required
                   id="imageUrl"
                   type="radio"
                   ngModel="{{editProduct?.imageUrl}}"
                   value="assets/images/450ML.jpg"/> 450ML
            <input name="imageUrl"
                   required
                   id="imageUrl"
                   type="radio"
                   ngModel="{{editProduct?.imageUrl}}"
                   value="assets/images/600ML.jpg"/> 600ML
            <input name="imageUrl"
                   required
                   id="imageUrl"
                   type="radio"
                   ngModel="{{editProduct?.imageUrl}}"
                   value="assets/images/720ML.jpg"/> 720ML
          </ul>
          <br>
          <img [src]="updateForm.controls.imageUrl?.value"
               *ngIf="updateForm.controls.imageUrl?.valid"
               [style.width.px]='200'
               [style.margin.px]='2' />
        </div>
        <div class="modal-footer">
          <span *ngIf="validMessage != ''"
                class="has-info pad-left">{{validMessage}}</span>
          <button (click)="onUpdateProduct(updateForm.value)"
                  class="btn btn-primary"
                  [disabled]="!(updateForm.valid && updateForm.dirty)">Lưu thay đổi</button>
          <button type="button"
                  (click)="cancel()"
                  class="btn btn-secondary pad-left">Đóng</button>
        </div>
      </form>
    </div>
  </div>
</div>
